@use "../../Variable.scss" as *;

.profile-wrapper {
  background:white;
  min-height: 100vh;
  padding: 40px 70px;
  font-family: Arial, Helvetica, sans-serif;

  .breadcrumb {
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;

    .active {
      font-weight: 600;
      color: #000;
    }

    .arrow {
      margin: 0 6px;
    }
  }

  .card {
  
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 25px;

    h3 {
      font-size: 16px;
      font-weight: 600;
      color: #555;
      margin-bottom: 25px;
    }
  }

  /* PERSONAL SECTION */

  .personal-section {
    display: flex;
    align-items: center;
    gap: 35px;

    .avatar-circle {
      width: 110px;
      height: 110px;
      background: #2f2f2f;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        font-size: 48px;
        color: #fff;
      }
    }

    .details {
      h2 {
        font-size: 22px;
        margin: 0 0 8px 0;
        font-weight: 600;
      }

      p {
        margin: 0 0 15px 0;
        font-size: 14px;
        color: #444;
      }
    }
  }

  /* ADDRESS SECTION */

  .address-card,
  .add-card {
    background: #ececec;
    border-radius: 8px;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    width:40%;
  }

  .address-left {
    h4 {
      margin: 0 0 6px 0;
      font-size: 15px;        
      font-weight: 600;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #444;
      line-height: 1.6;
    }
  }

  .btn {
    background: #e0e0e0;
    border: 1px solid #bfbfbf;
    padding: 8px 18px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
  }

  /* ================= RESPONSIVE ================= */

  @include ipad {
    padding: 30px;
  }

  @include tablet {
    padding: 20px;

    .personal-section {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }

    .address-card,
    .add-card {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }

  @include mobile {
    padding: 15px;

    .personal-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .address-card,
    .add-card {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}