.main-header {
  background: #2f9e44;
  padding: 18px 0;
  color: white;
}

.header-container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-text {
  font-weight: 600;
  font-size: 15px;
}

.right-menu span {
  margin-left: 25px;
  cursor: pointer;
  font-size: 14px;
}