body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  background: linear-gradient(to right, rgba(64, 205, 72, 1),rgba(32, 103, 36, 1));
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

.logo {
  font-weight: bold;
  font-size: 16px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Dashboard Section */
.dashboard {
  //background-color:white;
  padding: 30px 40px;
}

.dashboard h3 {
  margin: 0 0 15px 0;
  font-weight: normal;
}

.add-btn {
  background-color: rgba(251, 192, 45, 1);
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.add-btn:hover {
  background-color: #e09e00;
}
