.main-header {
  background: #2f9e44;
  padding: 18px 0;
  color: white;
}

.header-container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-text {
  font-weight: 600;
  font-size: 15px;
}

.right-menu span {
  margin-left: 25px;
  cursor: pointer;
  font-size: 14px;
}
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: Arial, Helvetica, sans-serif;
// }

// body {
//   background: #f4f4f4;
// }



/* ================= BREADCRUMB ================= */

.breadcrumb {
  padding: 25px 60px;
  font-size: 14px;
  color: #888;
}

.breadcrumb span {
  font-weight: 600;
  color: #000;
}

/* ================= MAIN ================= */

.main {
  padding: 10px 60px 80px;
}

.wrapper {
  display: flex;
  gap: 70px;
  align-items: flex-start;
}

/* IMAGE */

.image-section {
  position: relative;
  width: 420px;
}

.image-section img {
  width: 100%;
  border-radius: 10px;
}

/* ARROWS */

.arrow {
  position: absolute;
  top: 45%;
  background: white;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

/* DETAILS */

.details {
  max-width: 420px;
}

.details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.details p {
  color: #666;
  margin-bottom: 20px;
  font-size: 14px;
}

.details h4 {
  margin-bottom: 15px;
  font-size: 16px;
}

.plan {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 15px;
}

.plan input {
  width: 16px;
  height: 16px;
}

.recommended {
  color: #f4b400;
  font-size: 13px;
  margin-left: 6px;
}

/* BUTTON */

.checkout {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: #f4b400;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.selected {
  margin-top: 10px;
  font-size: 13px;
  color: #666;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }

  .image-section {
    width: 100%;
  }

  .details {
    max-width: 100%;
  }
}

@media (max-width: 600px) {

  .header {
    padding: 15px 20px;
  }

  .header-inner {
    flex-direction: column;
    gap: 10px;
  }

  .breadcrumb {
    padding: 15px 20px;
  }

  .main {
    padding: 20px;
  }
}         